@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Slab", serif;
  font-family: "M PLUS 1p", sans-serif;
  line-height: 2rem;
}

body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body a {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body .txtxl {
  font-size: 2.4rem;
}

body .txtl {
  font-size: 1.8rem;
}

body .txtm {
  font-size: 1.4rem;
}

body .txts {
  font-size: 1.2rem;
}

body .txtxs {
  font-size: 1.2rem;
}

body .txtxxs {
  font-size: 1.1rem;
}

body .bolder {
  font-weight: 500;
}

body .bold {
  font-weight: 600;
}

body .lighter {
  font-weight: lighter;
}

.title {
  margin-bottom: 5%;
  padding-top: 5%;
  text-align: center;
}

.title img {
  height: 2.5rem;
}

a.blue-btn {
  position: relative;
  z-index: 5;
  display: inline-block;
  margin-top: 5vh;
  width: 60%;
  height: 3rem;
  text-decoration: none;
  cursor: pointer;
}

a.blue-btn h2.txtl {
  color: #214164;
  line-height: 3.5rem;
}

a.blue-btn h2.txtl::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #214164;
  content: "";
  -webkit-transition: .5s all;
  transition: .5s all;
}

a.blue-btn h2.txtl:hover:after {
  width: 0;
}

a.blue-btn h2.txtl::before {
  position: absolute;
  bottom: -3px;
  left: calc(50% + 2px);
  width: calc(50% + 2px);
  height: 90%;
  border-right: 1px solid #214164;
  border-bottom: 1px solid #214164;
  content: "";
}

a.blue-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #214164;
  content: "";
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

a.blue-btn:hover:after {
  width: 30%;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

a.blue-btn::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 0;
  background-color: #214164;
  content: "";
  -webkit-transition: .1s all;
  transition: .1s all;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

a.blue-btn:hover::before {
  height: 100%;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

a.orange-btn {
  position: relative;
  z-index: 5;
  display: inline-block;
  margin-top: 5vh;
  width: 60%;
  height: 3rem;
  text-decoration: none;
  cursor: pointer;
}

a.orange-btn h2.txtl {
  color: #ff7f00;
  line-height: 3.5rem;
}

a.orange-btn h2.txtl::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ff7f00;
  content: "";
  -webkit-transition: .5s all;
  transition: .5s all;
}

a.orange-btn h2.txtl:hover:after {
  width: 0;
}

a.orange-btn h2.txtl::before {
  position: absolute;
  bottom: -3px;
  left: calc(50% + 2px);
  width: calc(50% + 2px);
  height: 90%;
  border-right: 1px solid #ff7f00;
  border-bottom: 1px solid #ff7f00;
  content: "";
}

a.orange-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ff7f00;
  content: "";
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

a.orange-btn:hover:after {
  width: 30%;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

a.orange-btn::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 0;
  background-color: #ff7f00;
  content: "";
  -webkit-transition: .1s all;
  transition: .1s all;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

a.orange-btn:hover::before {
  height: 100%;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.elem.isAnimate.fadein-down {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

body.main-page {
  background-color: #f2f2f2;
}

.k-logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}

.k-logo img {
  width: 12vw;
  height: 12vw;
}

#top {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  height: 200vw;
  background-image: url(../img/mb-top-min.png);
  background-size: cover;
}

#top .top-container {
  margin: 0 auto;
  max-width: 1280px;
}

#top .kocode {
  z-index: 2;
  text-align: center;
}

#top .kocode img {
  margin-top: 50%;
  width: 60%;
  height: auto;
}

#top .index {
  position: absolute;
  right: 0;
  bottom: 13vh;
  width: 60%;
  text-align: center;
}

#top .index .btn1 {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#top .index .btn2 {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#top .index .btn3 {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#top .index .btn4 {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#top:before {
  position: absolute;
  top: -38%;
  left: -20%;
  z-index: 1;
  display: inline-block;
  width: 200%;
  height: 35%;
  background-color: #f2f2f2;
  content: "";
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#aboutme {
  position: relative;
  padding-bottom: 5rem;
  background-color: #fffcfd;
}

#aboutme .aboutme-container {
  margin: 0 auto;
  max-width: 1280px;
}

#aboutme::before {
  position: absolute;
  top: calc(-10vw + 1px);
  left: 0;
  width: 0;
  height: 0;
  border-width: 0 0 10vw 100vw;
  border-style: solid;
  border-color: transparent transparent #fffcfd transparent;
  content: "";
}

#aboutme .name {
  position: relative;
  margin-top: 4rem;
}

#aboutme .name img {
  width: 100%;
}

#aboutme .name p.txtxl {
  position: absolute;
  top: -1.6rem;
  left: 20%;
  display: inline-block;
}

#aboutme .name p.txtm {
  position: absolute;
  top: 2rem;
  left: 38%;
  letter-spacing: 0.2rem;
}

#aboutme p.selfie {
  position: absolute;
  top: 35%;
  right: 15%;
  color: #727272;
  line-height: 1.8rem;
}

#aboutme .career {
  position: relative;
  z-index: 2;
  margin-top: 14rem;
  text-align: center;
}

#aboutme .career h3.txtl {
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}

#aboutme .career .row {
  margin: 0 auto;
  width: 88%;
  height: 3rem;
}

#aboutme .career .row p.txts {
  color: #727272;
  line-height: 1.7rem;
}

#aboutme .career p.TBC {
  margin-top: 1.8rem;
  color: #727272;
}

#aboutme .career:before {
  position: absolute;
  top: -1.7rem;
  right: 45%;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  width: 20%;
  height: 3rem;
  border-bottom: 1px solid #214164;
  content: "";
}

#aboutme .career:after {
  position: absolute;
  top: -1.7rem;
  right: 0;
  left: 45%;
  z-index: 1;
  margin: 0 auto;
  width: 20%;
  height: 3rem;
  border-bottom: 1px solid #214164;
  content: "";
}

#service {
  position: relative;
  background-color: #f0f0f0;
  text-align: center;
}

#service .service-container {
  margin: 0 auto;
  max-width: 1280px;
}

#service::before {
  position: absolute;
  top: calc(-10vw + 1px);
  left: 0;
  width: 0;
  height: 0;
  border-width: 0 0 10vw 100vw;
  border-style: solid;
  border-color: transparent transparent #f0f0f0 transparent;
  content: "";
}

#service .service-content {
  margin: 0 auto;
  width: 90%;
}

#service .service-content .col-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

#service .service-content .col-6 .rhombus {
  margin: 0 auto;
  max-width: 19rem;
  max-height: 19rem;
  width: 30vw;
  height: 30vw;
  background-color: #2b5e96;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#service .service-content .col-6 .rhombus.isAnimate {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#service .service-content .col-6 .rhombus:hover {
  background-color: #ff7f00;
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
}

#service .service-content .col-6 .rhombus:before {
  position: absolute;
  top: calc(50% - 3px);
  right: calc(50% - 3px);
  width: 6px;
  height: 6px;
  background-color: #fff;
  content: "";
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#service .service-content .col-6 .rhombus:hover::before {
  height: 1px;
  -webkit-transform: rotate(-45deg) scaleX(20);
  -ms-transform: rotate(-45deg) scaleX(20);
  transform: rotate(-45deg) scaleX(20);
}

#service .service-content .col-6 .rhombus .rhombus-content {
  position: absolute;
  top: 14.5%;
  left: 14.5%;
  margin: 0 auto;
  width: 71%;
  height: 71%;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#service .service-content .col-6 .rhombus .rhombus-content p.txtm {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  margin: 0 auto;
  letter-spacing: 1px;
}

#service .service-content .col-6 .rhombus .rhombus-content p.txtxxs {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

#service a.blue-btn {
  width: 50%;
  height: 3.2rem;
  text-decoration: none;
}

#service a.blue-btn h2.txtl {
  color: #2b5e96;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
}

#service .txtbox {
  margin-top: 4rem;
  padding-bottom: 6rem;
}

#service .txtbox p.txts {
  margin-top: 2rem;
  color: #343434;
}

#service .txtbox p.txtxs {
  margin-top: 2rem;
  color: #343434;
  line-height: 1.5rem;
}

#service .txtbox p.txtxs a {
  border-bottom: 1px solid #343434;
  color: #343434;
  text-decoration: none;
  cursor: pointer;
}

#service .txtbox p.txtxs a:hover {
  border-bottom: 1px solid #2b5e96;
  color: #2b5e96;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#works {
  position: relative;
  padding-bottom: 6rem;
  background-color: #fffcfd;
  text-align: center;
}

#works .works-container {
  margin: 0 auto;
  max-width: 1280px;
}

#works::before {
  position: absolute;
  top: calc(-10vw + 1px);
  left: 0;
  width: 0;
  height: 0;
  border-width: 0 0 10vw 100vw;
  border-style: solid;
  border-color: transparent transparent #fffcfd transparent;
  content: "";
}

#works a.blue-btn {
  width: 40%;
  height: 3.2rem;
}

#works a.blue-btn h2.txtl {
  color: #2b5e96;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
}

.swiper-border {
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
  width: 85%;
}

.swiper-border .swiper-container {
  width: 100%;
}

.swiper-border .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.swiper-border .swiper-container .swiper-button-prev:after,
.swiper-border .swiper-container .swiper-button-next:after {
  color: #2b5e96;
  font-size: 3rem;
}

.swiper-border .swiper-container .swiper-button-prev:focus,
.swiper-border .swiper-container .swiper-button-next:focus {
  outline: none;
}

.swiper-border::before {
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(90%);
  height: calc(100% + 6px);
  border-bottom: 1px solid #214164;
  content: "";
}

.swiper-border::after {
  position: absolute;
  bottom: -6px;
  left: -6px;
  width: calc(70% + 6px);
  height: calc(30% + 6px);
  border-bottom: 1px solid #214164;
  border-left: 1px solid #2b5e96;
  content: "";
}

#contact {
  position: relative;
  background-color: #2b5e96;
  text-align: center;
}

#contact .contact-container {
  margin: 0 auto;
  max-width: 1280px;
}

#contact::before {
  position: absolute;
  top: calc(-10vw + 1px);
  left: 0;
  width: 0;
  height: 0;
  border-width: 0 0 10vw 100vw;
  border-style: solid;
  border-color: transparent transparent #2b5e96 transparent;
  content: "";
}

#contact p.txts {
  margin-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
}

#contact a.txtm {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
  height: 6rem;
  background-color: #f2f2f2;
  text-align: center;
}

footer img.foot-logo {
  position: absolute;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  max-height: 6rem;
  width: 20%;
}

footer p.txtxs {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer p.txtxs img {
  margin-right: 2px;
  width: 5%;
}

footer.footer-viewall {
  background-color: #EDEBEC;
}

body.cp-page {
  background-color: #f2f2f2;
}

#coding-policy {
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
  min-height: 100vh;
  background-color: #2B5E96;
}

#coding-policy .coding-policy-container {
  margin: 0 auto;
  max-width: 1280px;
}

#coding-policy .row {
  margin: 0 auto;
  width: 95%;
}

#coding-policy:before {
  position: absolute;
  top: -30%;
  left: -20%;
  z-index: 0;
  display: inline-block;
  width: 200%;
  height: 30%;
  background-color: #4677AC;
  content: "";
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#coding-policy .txtxs {
  font-size: 1.1rem;
}

#coding-policy h2.title {
  position: relative;
  z-index: 1;
  padding-top: 8rem;
}

#coding-policy h2.title img {
  height: 2.8rem;
}

#coding-policy .policy-box {
  color: #fff;
}

#coding-policy .policy-box h3.policy-titile {
  position: relative;
  margin-top: 3rem;
  text-align: center;
}

#coding-policy .policy-box h3.policy-titile:before {
  position: absolute;
  top: -1.9rem;
  right: 60%;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  width: 35%;
  height: 3rem;
  border-bottom: 1px solid #fff;
  content: "";
}

#coding-policy .policy-box h3.policy-titile:after {
  position: absolute;
  top: -1.9rem;
  right: 0;
  left: 60%;
  z-index: 1;
  margin: 0 auto;
  width: 35%;
  height: 3rem;
  border-bottom: 1px solid #fff;
  content: "";
}

#coding-policy .policy-box h3.policy-titile2 {
  position: relative;
  margin-top: 3rem;
  text-align: center;
}

#coding-policy .policy-box h3.policy-titile2:before {
  position: absolute;
  top: -1.9rem;
  right: 64%;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  width: 31%;
  height: 3rem;
  border-bottom: 1px solid #fff;
  content: "";
}

#coding-policy .policy-box h3.policy-titile2:after {
  position: absolute;
  top: -1.9rem;
  right: 0;
  left: 64%;
  z-index: 1;
  margin: 0 auto;
  width: 31%;
  height: 3rem;
  border-bottom: 1px solid #fff;
  content: "";
}

#coding-policy .policy-box h3.policy-titile3 {
  position: relative;
  margin-top: 3rem;
  text-align: center;
}

#coding-policy .policy-box h3.policy-titile3:before {
  position: absolute;
  top: -1.9rem;
  right: 70%;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  width: 25%;
  height: 3rem;
  border-bottom: 1px solid #fff;
  content: "";
}

#coding-policy .policy-box h3.policy-titile3:after {
  position: absolute;
  top: -1.9rem;
  right: 0;
  left: 70%;
  z-index: 1;
  margin: 0 auto;
  width: 25%;
  height: 3rem;
  border-bottom: 1px solid #fff;
  content: "";
}

#coding-policy .policy-box ul.txtxs {
  position: relative;
  margin-top: 2rem;
}

#coding-policy .policy-box ul.txtxs li {
  margin-top: .5rem;
  margin-left: 1.5rem;
}

#coding-policy .policy-box .qc {
  position: relative;
  margin-top: 3rem !important;
}

#coding-policy .policy-box .qc:before {
  position: absolute;
  top: -3rem;
  right: 0;
  left: 0;
  content: "品質管理";
  text-align: center;
}

#coding-policy .p-box1 {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#coding-policy .p-box2 {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#coding-policy .p-box3 {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#coding-policy .p-box4 {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down;
  -webkit-animation-duration: 1.9s;
  animation-duration: 1.9s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

body.va-page {
  background-color: #EDEBEC;
}

#view-all {
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  min-height: 100vh;
  background-color: #fff;
}

#view-all .view-all-container {
  margin: 0 auto;
  max-width: 1280px;
}

#view-all:before {
  position: absolute;
  top: -30%;
  left: -20%;
  z-index: 0;
  display: inline-block;
  width: 200%;
  height: 30%;
  background-color: #EDEBEC;
  content: "";
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#view-all h2.title {
  position: relative;
  z-index: 1;
  padding-top: 8rem;
}

#view-all h2.title img {
  height: 2.8rem;
}

#view-all .deli {
  margin-top: 8rem;
}

#view-all .deli .work-name {
  position: relative;
  margin-left: 7%;
  width: 80%;
  line-height: 2rem;
}

#view-all .deli .work-name::before {
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: 40%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#ff7f00), to(#fff));
  background: linear-gradient(to right, #ff7f00 0%, #fff 100%);
  content: "";
}

#view-all .deli .swiper-border {
  margin-top: 1rem;
}

#view-all .txtxs {
  margin: 0 auto;
  margin-top: 6rem;
  width: 90%;
  color: #707070;
}

@media (min-width: 481px) {
  .body .txtxs,
  .body .txtxxs {
    font-size: 1.2rem;
  }
  .k-logo img {
    width: 5rem;
    height: 5rem;
  }
  #top {
    min-height: 70rem;
    height: auto;
    background-image: url(../img/pc-top-min.png);
  }
  #top .kocode img {
    margin-top: 20%;
    width: 35%;
  }
  #top .index {
    bottom: 20%;
  }
  #top .index a.blue-btn,
  #top .index a.orange-btn {
    margin-top: 3rem;
  }
  #service .service-content .col-6 {
    margin-top: 6rem;
  }
  #service .service-content .col-6 .rhombus {
    width: 25vw;
    height: 25vw;
  }
  #service .service-content .col-6 .rhombus:hover::before {
    -webkit-transform: rotate(-45deg) scaleX(25);
    -ms-transform: rotate(-45deg) scaleX(25);
    transform: rotate(-45deg) scaleX(25);
  }
  footer p.txtxs img {
    width: 2rem;
  }
}

@media (min-width: 767px) {
  .br-md {
    display: none;
  }
  body .txtxl {
    font-size: 36px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
    /* 24px~36pxで可変*/
    line-height: 1.2;
  }
  body .txtl {
    font-size: 24px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
    /* 20px~24pxで可変*/
    line-height: 1.2;
  }
  body .txtm {
    font-size: 1.6rem;
  }
  body .txts {
    font-size: 1.4rem;
  }
  #aboutme,
  #service,
  #works {
    padding-bottom: 10rem;
  }
  #service .service-content .col-6 .rhombus {
    width: 15vw;
    height: 15vw;
  }
  #view-all:before {
    top: -40%;
  }
  #coding-policy:before {
    top: -40%;
  }
}

@media (min-width: 993px) {
  #top {
    height: 62vw;
  }
  #top .title img {
    height: 3rem;
  }
  #top .kocode {
    position: relative;
    z-index: 15;
  }
  #top .kocode img {
    margin-top: 15rem;
  }
  #top .index {
    width: 60%;
  }
  #top .index .btn1 {
    margin-left: 8rem;
  }
  #top .index .btn3 {
    margin-right: 8rem;
  }
  #top .index .btn4 {
    margin-right: 16rem;
  }
  #aboutme .name p.txtxl {
    top: -1.4rem;
    left: 30%;
  }
  #aboutme .name p.txtm {
    top: 5rem;
    left: 40%;
  }
  #aboutme p.selfie {
    top: 40%;
    right: 10%;
  }
  #aboutme,
  #service,
  #works {
    padding-bottom: 12rem;
  }
  #view-all:before {
    top: -50%;
  }
  #coding-policy:before {
    top: -50%;
  }
}

@media (min-width: 1024px) {
  /* 1024px以上*/
  body .txtxl {
    font-size: 4.0rem;
  }
  body .txtl {
    font-size: 2.8rem;
  }
  body .txtm {
    font-size: 2rem;
  }
  body .txts {
    font-size: 1.6rem;
  }
  body .txtxs {
    font-size: 1.4rem;
  }
  .title img {
    height: 4rem;
  }
  #service .service-content .col-6 .rhombus:hover::before {
    -webkit-transform: rotate(-45deg) scaleX(32);
    -ms-transform: rotate(-45deg) scaleX(32);
    transform: rotate(-45deg) scaleX(32);
  }
  #aboutme,
  #service,
  #works {
    padding-bottom: 15rem;
  }
}
